/* body {
    background-color: rgb(121, 131, 138)!important;
} */

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    background-color: white;
}

.pagination {
    display: table!important;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.boarder-bottom-toolbox-right {
    text-align: right;
}

#user-bar {
    color: blanchedalmond;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    }
    
    .dropup, .dropdown {
    position: relative;
    }
    
    .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
}

.main-contents {
    margin: 10px auto 0px auto;
    width: 80%;
}
.main-contents-title {
    font-size: 40px;
}
.nav.nav-tabs{
    font-size: 30px;
}