/* body {
    background-color: rgb(121, 131, 138)!important;
} */

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .container {
    background-color: white;
}

.pagination {
    display: table!important;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
} */

.boarder-bottom-toolbox-right {
    text-align: right;
}

#user-bar {
    color: blanchedalmond;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    }
    
    .dropup, .dropdown {
    position: relative;
    }
    
    .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
}

.main-contents {
    margin: 10px auto 0px auto;
    width: 80%;
}
.main-contents-title {
    font-size: 40px;
}
.nav.nav-tabs{
    font-size: 30px;
}



@media only screen and (min-width: 1200px) {

}

@media only screen and (max-width: 1199px) {

    .company-table th,
    .company-table td{
        padding: 5px;
    }
}

@media only screen and (max-width: 1108px) {
    

}


@media only screen and (max-width: 991px) {

    /* .company-table td:nth-child(n+2):nth-child(-n+3),
    .company-table td:nth-child(n+5):nth-child(-n+7), */
    .company-table td:nth-child(4),
    /* .company-table th:nth-child(n+2):nth-child(-n+3),
    .company-table th:nth-child(n+5):nth-child(-n+7), */
    .company-table th:nth-child(4) {display: none;}




}

@media only screen and (max-width: 768px) {


}



@media only screen and (max-width: 576px) {
    .form-control.editor.edit-text {
        font-size: 10px !important;
    }
    .company-table th,
    .company-table td{
        font-size: 12px;
    }
    .company-table td:nth-child(6) button{
        font-size: 4px;
    }


}
